
<% a_html_options = {class: "btn btn-secondary font-sm"} %>

<h6 style="padding-top:1em;">Uploads:</h6>

<div class="btn-group-vertical" role="group" aria-label="Uploads">
  <%= link_to 'Patients/Samples', bulk_upload_path, a_html_options %>
</div>

