<% a_html_options = {class: "btn btn-secondary font-sm"} %>

<h6>Queries:</h6>

<div class="btn-group-vertical" role="group" aria-label="Queries">
  <%= link_to 'Source/Dissections', unprocessed_query_path, a_html_options %>
  <%= link_to 'Extracted Samples',  processed_query_path, a_html_options %>
</div>
