<% a_html_options = {class: "list-group-item font-sm"} %>

<!--
<div class="btn-group-vertical" role="group" aria-label="Queries">
  <%#= link_to 'Source/Dissections', unprocessed_query_path, a_html_options %>
  <%#= link_to 'Extracted Samples',  processed_query_path, a_html_options %>
</div>
-->

 <div class="list-group">

  <li class="list-group-item active">
    Queries:
  </li>

  <%= link_to 'Source/Dissections', unprocessed_query_path, a_html_options%>

  <%= link_to 'Extracted Samples',  processed_query_path, a_html_options %>

  <%= link_to 'Storage Containers', container_query_path, a_html_options %>

  <li class="list-group-item active">
    Uploads:
  </li>

  <%= link_to 'Patients/Samples', bulk_upload_path, a_html_options %>

</div> 
