
<% a_html_options = {class: "list-group-item font-sm"} %>

 <div class="list-group">
  <a href="#" class="list-group-item active">
    <h6 style="padding-top:1em;">Uploads:</h6>
  </a>
  <%= link_to 'Patients/Samples', bulk_upload_path, a_html_options %>
</div> 

