<ul id="top-nav" class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" id="samples-tab" href="/samples">Samples</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="processing-tab" href="/dissected_samples">Processing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="assays-tab" href="/molecular_assays/main">Assays</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sequencing-tab" href="/sequencing/main">Sequencing</a>
  </li>
</ul>
