<ul id="top-nav" class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" id="samples-tab" href="/samples">Samples</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="processing-tab" href="not-yet">Processing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="assays-tab" href="not-yet">Assays</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sequencing-tab" href="not-yet">Sequencing</a>
  </li>
</ul>
