<% user_roles = (logged_in? ? current_user.roles.collect(&:name) : nil) %>

<ul id="top-nav" class="nav nav-tabs">

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Queries</a>
    <div class="dropdown-menu">
      <!--a class="dropdown-item" href="/pt_query">Patient Samples</a-->
      <a class="dropdown-item" href="/unprocessed_query">Samples/Dissections</a>
      <a class="dropdown-item" href="/processed_query">Extracted Samples</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/he_query">H&E Slides</a>
      <a class="dropdown-item" href="/mol_assay_query">Molecular Assays</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/seqlib_query">Seq Libs</a>
      <a class="dropdown-item" href="/seq_run_query">Seq Runs</a>
      <% if user_has_access?(user_roles, ["admin"]) %>
        <a class="dropdown-item" href="/imaging_query">Imaging</a>
      <% end %>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/sample_loc_query">Sample Storage Locs</a>
      <a class="dropdown-item" href="/container_query">Storage Containers</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/samples" role="button" aria-haspopup="true" aria-expanded="false">Samples</a>
    <div class="dropdown-menu">
      <% if user_has_access?(user_roles, ["clinical", "clin_admin"]) %>
        <a class="dropdown-item" href="/sample_characteristics/new">New Source Sample</a>
      <% end %>
      <% if user_has_access?(user_roles, ["clinical", "clin_admin", "researcher", "lab_admin"]) %>
        <a class="dropdown-item" href="/new_dissection">New Dissection</a>
        <a class="dropdown-item" href="/new_extraction">New Extraction</a>
        <div class="dropdown-divider"></div>
      <% end %>
      <% if user_has_access?(user_roles, ["uploads"]) %>
      <a class="dropdown-item" href="/bulk_upload">Bulk Upload</a>
      <div class="dropdown-divider"></div>
      <% end %>
      <% if user_has_access?(user_roles, ["clinical", "clin_admin"]) %>
        <a class="dropdown-item" href="/modify_patient">Edit Patient</a>
        <a class="dropdown-item" href="/modify_sample">Edit Sample Acquisition</a>
      <% end %>
      <% if user_has_access?(user_roles, ["clinical", "clin_admin", "researcher", "lab_admin"]) %>
        <a class="dropdown-item" href="/upd_sample">Edit Sample</a>
      <% end %>
    </div>
  </li>

  <% if user_has_access?(user_roles, ["clinical", "clin_admin"]) %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/pathology" role="button" aria-haspopup="true" aria-expanded="false">Pathology</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/new_histology">H&E Slide</a>
      <a class="dropdown-item" href="/new_pathology">Pathology Rpt</a>
    </div>
  </li>
  <% end %>

  <% if user_has_access?(user_roles, ["clinical", "clin_admin", "researcher", "lab_admin"]) %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/molecular_assays" role="button" aria-haspopup="true" aria-expanded="false">Molecular Assays</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/molecular_assays/new">New Assay</a>
      <a class="dropdown-item" href="not-yet">New Assay-Other</a>
    </div>
  </li>
  <% end %>

  <% if user_has_access?(user_roles, ["researcher", "lab_admin", "alignment"]) %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sequencing</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/seq_libs/new">New Lib-Singleplex</a>
      <a class="dropdown-item" href="/mplex_setup">New Lib-Multiplex</a>
      <a class="dropdown-item" href="/slide_setup">New Slide-Imaging</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/bulk_upload">Bulk Upload</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/flow_cell_setup">Prepare Flowcell</a>
      <a class="dropdown-item" href="/flow_cells?rpt_type=seq">Sequence Flowcell</a>
      <% if user_has_access?(user_roles, ["admin"]) %>
        <a class="dropdown-item" href="/imaging_setup">Run Imaging</a>
      <% end %>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/publications">Publication Data</a>
    </div>
  </li>
  <% end %>

  <% view_items_label = (user_has_access?(user_roles, ["orders"]) ? 'View/Order items' : 'View Items') %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Orders</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/items/new">New Item</a>
      <%= link_to view_items_label, view_items_path, class: "dropdown-item", data: { turbolinks: false } %>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/view_orders">List/Update Orders</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lookup Tables</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/categories">General Drop-Downs</a>
      <a class="dropdown-item" href="/consent_protocols">Consent Protocols</a>
      <a class="dropdown-item" href="/select_protocol_type">Molecular Protocols</a>
      <a class="dropdown-item" href="/adapters">Adapters</a>
      <a class="dropdown-item" href="/alignment_refs">Alignment Refs</a>
      <a class="dropdown-item" href="/oligo_pools">Oligo Pools</a>
      <a class="dropdown-item" href="/seq_machines">Seq Machines</a>
      <a class="dropdown-item" href="/sequencer_kits">Seq Kits</a>
      <a class="dropdown-item" href="/freezer_locations">Freezers</a>
      <a class="dropdown-item" href="/storage_types">Storage Types</a>
    </div>
  </li>

  <% if user_has_access?(user_roles, ["admin", "clin_admin", "barcodes"]) %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
    <div class="dropdown-menu">
      <% if user_has_access?(user_roles, ["barcodes"]) %>
        <a class="dropdown-item" href="/assigned_barcodes">Manage Barcodes</a>
      <% end %>
      <% if user_has_access?(user_roles, ["clin_admin"]) %>
          <a class="dropdown-item" href="/storage_containers/new">Add Container</a>
      <% end %>
      <% if user_has_access?(user_roles, ["admin"]) %>
        <a class="dropdown-item" href="/researchers">Manage Researchers</a>
        <a class="dropdown-item" href="/users">Manage Users</a>
      <% end %>
    </div>
  </li>
  <% end %>

</ul>
