
<!-- layout for the samples pages -->

<% content_for :top_navigation do %>
  <div class="col-12">
    <%= render "layouts/main/main_nav" %>
  </div>
<% end %>

<% content_for :panel_2 do %>
  <div id="main-panel" class="col-12">
    <%= yield %>
  </div>
<% end %>

<%= render :file => 'layouts/application' %>
