<div class="card">
  <h6 class="card-header">Alignment Reference</h6>
  <div class="card-body">

    <div class="form-group row">
      <label for="alignment_key" class="col-auto col-form-label col-form-label-sm">Reference Key:</label>
      <div class="col-auto">
        <%= f.text_field :alignment_key, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="interface_name" class="col-auto col-form-label col-form-label-sm">Reference Name:</label>
      <div class="col-auto">
        <%= f.text_field :interface_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="genome_build" class="col-auto col-form-label col-form-label-sm">Genome Build:</label>
      <div class="col-auto">
        <%= f.text_field :genome_build, class: "form-control" %>
      </div>
    </div>

  </div>
</div>
