<div id="second-nav" class="rounded-bottom border">
<ul class="nav nav-pills">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle btn-sm" id="sample-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dissection</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" id="dissection-new" href="/new_dissection">New</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle btn-sm" id="pathology-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Extraction</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" id="extraction-new" href="/new_extraction">New</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle btn-sm" id="h-e-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sample</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" id="sample-edit" href="/upd_sample">Edit</a>
    </div>
  </li>

</ul>
</div>
