<div class="card">
  <h6 class="card-header">Sample Storage Locations(s):</h6>
  <div class="card-body">

    <div class="form-group row">
      <div class="col-sm-3" style="font-weight: bold">Freezer</div>
      <div class="col-sm-2" style="font-weight: bold">Container Type</div>
      <div class="col-sm-3" style="font-weight: bold">Container Name</div>
      <div class="col-sm-3" style="font-weight: bold">Position</div>
    </div>

    <div id="sloc">
      <% i=0 %>
      <%= f.fields_for :sample_storage_containers, :wrapper => 'inline' do |c| %>
          <div class="form-group row">
            <% i += 1 %>
            <%= render :partial => 'shared/sample_storage_container_fields', :locals => {f: c, i: i} %>
          </div>
      <% end %>
    </div>

    <div class="form-group row">
      <div class="col-sm-4 offset-sm-1">
        <%= link_to_add_association 'Add Storage Location', f, :sample_storage_containers,
                                    partial: 'shared/sample_storage_container_fields' %>
      </div>
      <div class="col-sm-7">
        <!--span class="info-warn dkred">Note: Be careful if updating container name and/or position as there is currently no validation here</span-->
      </div>
    </div>

    <%=f.submit "Update", class: "btn btn-primary" %>
  </div>
</div>
