<!-- lightbox templates -->
<div style="display: none">

  <!-- content for lightbox -->
  <div class="location-lightbox">
    <h4 class="lightbox-title"></h4>
    <div class="flash-box">
      <!-- ajax flash messages go here -->
    </div>
    <div class="lightbox-body">
      <!-- ajax returned content goes here -->
    </div>
    <div class="lightbox-footer">
      <div class="alert-box">
        <!-- alerts go here -->
      </div>
      <button type="button" class="done-button btn btn-default">Done</button>
      <button type="button" class="cancel-button btn btn-default">Cancel</button>
    </div>
  </div>

  <!-- alert template to insert into alert-box -->
  <div class="alert-template alert alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>
