<div class="card">
  <h6 class="card-header">Storage Location</h6>
  <div class="card-body">

  <%= render :partial => 'shared/container_existing_new', :locals => {f: f, barcode: barcode} %>

  </div>
</div>

<%= render :partial => 'shared/location_lightbox' %>

<%= render :partial => 'shared/storage_container_data' %>
