<div id="sloc">
  <%= f.fields_for :sample_storage_containers do |c| %>
    <% if @edit_sample_storage %>
      <%= render :partial => 'shared/storage_container_edit', :locals => {f: c, barcode: f.object.barcode_key} %>
    <% else %>
      <%= render :partial => 'shared/storage_container_new', :locals => {f: c, barcode: f.object.barcode_key} %>
    <% end %>
  <% end %>
</div>
