<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="#">Samples</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Processing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Assays</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sequencing</a>
  </li>
</ul>
