<h5>New Pathology Report</h5>

<%= bootstrap_form_tag(url: 'pathologies/new', method: :get) do |f| %>
  <% if can? :read, Patient %>
    <%= f.text_field :mrn_nr, label: "MRN:", placeholder: "MRN" %>
  <% end %>
  <%= f.text_field :patient_id, label: "Patient ID:", placeholder: "Patient ID" %>

  <%= f.submit 'Submit',  class: "btn btn-primary" %>
<%end%>

<p class="font-italic"> 
Specify MRN or Patient ID for pathology report.
</p>
