<div class="card">
  <h6 class="card-header">Researcher Details</h6>
  <div class="card-body">

    <div class="form-group row">
      <label for="researcher_name" class="col-auto col-form-label col-form-label-sm">Name:</label>
      <div class="col-auto">
        <%= f.text_field :researcher_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="researcher_initials" class="col-auto col-form-label col-form-label-sm">Initials:</label>
      <div class="col-auto">
        <%= f.text_field :researcher_initials, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="user_id" class="col-auto col-form-label col-form-label-sm">User login:</label>
      <div class="col-auto">
        <%= f.collection_select(:user_id, @users, :id, :login, {:include_blank => 'Select..'}, {class: "form-control"}) %>
      </div>
    </div>

  </div>
</div>