<div class="card">
  <h6 class="card-header">Add/Update H&E Slide</h6>
  <div class="card-body">

    <%= bootstrap_form_tag(url: 'histologies/new', method: :get) do %>

      <div class="form-group row">
        <label for="barcode_key" class="col-auto col-form-label col-form-label-sm">Source barcode:</label>
        <div class="col-auto">
          <%= text_field_tag :barcode_key, nil, size: 12, placeholder: "Source barcode", class: "form-control" %>
        </div>
      </div>

      <%= submit_tag 'Submit',  class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
