<h5><%="Bulk Upload Errors - File: #{@file.original_filename}"%><h5>

<table class="table table-bordered table-sm table-font-sm">
<thead class="thead-light thead-font-sm">
  <tr>
    <th>Sheet</th>
    <th>Row</th>
    <th>Error Message</th>
  </tr>
</thead>

<% @errors.each do |error| %>
  <tr>
    <td><%=error[0]%></td>
    <td><%=error[1]%></td>
    <td><%=error[2]%></td>
  </tr>
<% end %>

</table>
