<%= render 'shared/page_print' %>
<h5>View Item</h5>

<%= render :partial => 'item_show', :locals => {:item => @item} %>
<%= render :partial => 'attached_files/show_file', :locals => {:obj => @item} %>
