<% default_imager =  @imaging_protocols[0].short_name %>

<%= form_tag new_image_slide_path, method: :get  do %>
<div class="card">
  <h6 class="card-header">Imaging Slide Parameters</h6>
  <div class="card-body">

    <div class="form-group-row">
      <div class="col-auto" style="font-size:.85rem"><em>Enter individual sample barcodes separated by commas, eg '5607A,12872B'</em></div>
    </div>

    <div class="form-group row">
      <label for="barcode_string" class="col-auto col-form-label col-form-label-sm">Sample barcode(s):</label>
      <div class="col-auto">
        <%= text_field_tag(:barcode_string, '', {:size => 40, class: "form-control"}) %>
      </div>

      <label for="image_slide_machine_type" class="col-auto col-form-label col-form-label-sm">Machine Type:</label>
      <div class="col-auto">
        <%= collection_select(:image_slide, :imaging_protocol, @imaging_protocols, :short_name, :short_name,
                              {:include_blank => 'Select Protocol', :selected => default_imager},
                              class: "form-control") %>
      </div>
    </div>
    <div class="col-auto"><%=submit_tag "Submit", class: "btn btn-primary" %></div>
  </div>
</div>
<p></p>
<% end %>
