/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
// Add here:

//Import Boostrap
@import "bootstrap";

// Import DataTables
@import "datatables";

// Import Featherlight
@import "featherlight";

/* global variables */

/* some global styles */

.bkg-sample-slides {
  background-image: asset-url('samples01-bg.gif')
}

/* remove backgrouns image from table bodies */
tbody {
  background-color: white
}

/* class for smaller font sizes in table data */
table.table-font-sm td {
  font-size: .875rem
}

/* class for smaller font sizes in table data inputs */
table.table-font-sm td {
  & input, & select {
    font-size: .875rem
  }
}

/* class for smaller font sizes in table header */
thead.thead-font-sm th {
  font-size: .875rem
}

/* class for smaller font size in paragraph */
p.font-sm {
  font-size: .875rem
}

/* class for smaller font size on link in list group */
div.list-group a.font-sm {
  font-size: .875rem
}

/* Single-direction drop shadow */
hr.down-shadow {
  height: 10px;
  border: 0;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  margin-top: 1px;
  margin-bottom: 1px;
}

#second-nav {
  margin-bottom: 1rem;
}

/*
 * styles to make forms more compact
 * Note: bootstrap cards with card bodies are used for most forms
*/
.card-body {
  padding: .5rem;
}
.form-group.row {
  margin-bottom: .5rem;
  margin-left: 0px;
}
.form-control {
  padding: 0 0.75rem
}

.card {
  margin-top: .5rem;
}
.card-header {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* bold form labels */
form label, .card label {
  font-weight: 500;
}

/* primary button top margin */
.btn-primary {
  margin-top: .25rem;
}

/* top margin for report type control */
select#rpt_type {
   margin-top: .25rem;
}

/* utility classes */
.hidden {
  display: none;
}
.clear {
  clear: both;
}

// grid locations width for 2 chars
table.grid-locations td {
 min-width: 2em;
}
// greyed if filled
table.grid-locations td.filled {
  background-color: grey
}

// width styling classes
.em-width-10 {width: 10em}
.em-width-20 {width: 20em}
.em-width-30 {width: 30em}
.em-width-40 {width: 40em}
.em-width-50 {width: 50em}
.em-width-60 {width: 60em}
.em-width-70 {width: 70em}
.em-width-80 {width: 80em}
.em-width-90 {width: 90em}
.em-width-100 {width: 100em}

:root {
  --light-grey: #f0f0f0;
  --med-light-grey: #dedede;
  --medium-grey: #808b96;
  --dark-grey: #999;
  --very-dark-grey: #1c2833;  
}

/*
 * Top Navigation Styling
*/

#top-nav .nav-link {
  color: var(--medium-grey);
  background-color: var(--light-grey);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom:1px solid var(--med-light-grey);
}

#top-nav .nav-link.active {
  color: var(--very-dark-grey);
  background-color:var(--med-light-grey); 
}

#top-nav .nav-link:hover {
  color: #fff;
  background-color:var(--dark-grey); 
}

/*
 * Secondary Nav & Dropdown Styling
*/

#second-nav .btn-group {background-color:var(--med-light-grey);}

#second-nav .btn-secondary {
    color: var(--very-dark-grey);
    background-color:var(--med-light-grey);
    border-color:var(--med-light-grey);
    font-size: 0.85rem;
}

#second-nav .btn-secondary:hover {
    color: #fff;
    background-color:var(--dark-grey);
}

/*
 * Side Navigation Styling
*/

div.list-group a.font-sm {
    font-size: 0.75rem;
    color: var(--medium-grey);
    background-color:var(--light-grey);
}

div.list-group a.font-sm:hover {
    color: var(--very-dark-grey);
    background-color:var(--med-light-grey);
}

.list-group-item {
    position: relative;
    display: block;
    padding: 5px 10px;
    margin-bottom: -1px;
    background-color: none;
    border: 1px solid var(--dark-grey);
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: var(--dark-grey);
    border-color: var(--dark-grey);
}

.list-group-item.active {
    padding-bottom:5px;
}
