/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
// Add here:

//Import Boostrap
@import "bootstrap";

/* some global styles */

.bkg-sample-slides {
  background-image: asset-url('samples01-bg.gif')
}

/* Single-direction drop shadow */
hr.down-shadow {
    height: 10px;
    border: 0;
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

// add margin at bottom of card header when used for forms
form h6.card-header {
  margin-bottom: .5rem;
}

// width styling classes
.em-width-10 {width: 10em}
.em-width-20 {width: 20em}
.em-width-30 {width: 30em}
.em-width-40 {width: 40em}
.em-width-50 {width: 50em}
.em-width-60 {width: 60em}
.em-width-70 {width: 70em}
.em-width-80 {width: 80em}
.em-width-90 {width: 90em}
.em-width-100 {width: 100em}
