<tr>
        <td><%= f.text_field :index_read, :size => 3 %></td>
        <td><%= f.text_field :tag_nr, :size => 3 %></td>
        <td><%= f.text_field :tag_sequence, :size => 10 %></td>
        <td><%= link_to_remove_association "Remove", f %></td>
</tr>

