<div id="footer" class="container">

  <!-- define footer row -->
  <div class="row">

    <!-- define three horizontal coloumns -->
    <div class="col-sm site-blurb">
      <% if Rails.env != 'production' %>
        Controller: <%= controller_name %>&nbsp;| Action: <%= action_name %>
      <% else %>
        <a href="http://med.stanford.edu/sgtc/">Stanford Genome Tech Center</a>&nbsp;|
        <a href="mailto:sgrimes@stanford.edu">Contact</a>
      <% end %>
    </div>

    <div class="col-sm">

    </div>

    <div class="col-sm site-blurb">
       Website provided by the <a href="http://dna-discovery.stanford.edu">Ji Research Group</a><br />School of Medicine and Genome Technology Center at Stanford University<br />
      This website and its content &copy; Stanford University, <%= Time.now.localtime.strftime("%Y") %>. All rights reserved.
    </div>

  </div>

</div>
