<div id="footer" class="container">

  <!-- define footer row -->
  <div class="row">

    <!-- define three horizontel coloumns -->
    <div class="col-sm">
      footer column 1<br>
      <%= controller_name %><br>
      <%= action_name %>
    </div>

    <div class="col-sm">
      footer column 2
    </div>

    <div class="col-sm">
      footer column 3
    </div>

  </div>

</div>
