<div id="header" class="container">

  <!-- define header row -->
  <div class="row">

    <!-- define three horizontel coloumns -->
    <div class="col-sm">
      <%= render :file => 'layouts/logo' %>
    </div>

    <div class="col-sm">
      <%= render :file => 'layouts/title' %>
    </div>

    <div class="col-sm">
      <%= render :file => 'layouts/utils' %>
    </div>

  </div>

  <hr class="down-shadow"/>

</div>
