<div id="title" class="my-3">
  <%= image_tag("mendelims-sitename.gif", :height => "45", :title => "Mendelian LIMS Targeted Resequencing", :alt => "Mendelian LIMS Targeted Resequencing") %>
  <div class="sitename-description">Laboratory Information Management System</div>
</div>
